.buttonWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadMore{
    width: 150px;
    height: 40px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 17px;
}